<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
   <div th:include="fragments/head :: head" th:remove="tag">Head</div>
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

    <div th:include="fragments/header :: header" th:remove="tag">Header</div>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <div th:include="fragments/sidebar :: sidebar" th:remove="tag">Sidebar</div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!--Success/Error message-->
        <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h5><i class="icon fas fa-ban"></i>Error!</h5>
            <span th:text="${errorMessage}"></span>
        </div>
        <div th:if="${successMessage}" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h5><i class="icon fas fa-ban"></i>Success!</h5>
            <span th:text="${successMessage}"></span>
        </div>

        <!-- Content Header (Page header) -->
        <div layout:fragment="content" th:remove="tag"></div>
    </div>
    <!-- /.content-wrapper -->

    <div th:include="fragments/footer :: footer" th:remove="tag">Footer</div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<div th:include="fragments/javascript :: javascript" th:remove="tag">Javascript</div>


</body>
</html>
