<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Teacher</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Teacher</a></li>
                        <li class="breadcrumb-item active"><a href="#">List</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Teacher Form</h3>
            </div>
            <form th:action="@{/teacher/form}" th:object="${teacher}" method="POST">
                <input type="hidden" th:field="*{id}">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3">NIK</label>
                        <input type="text" class="form-control col-md-9" th:field="*{nik}">
                        <span th:if="@{#fields.hasErrors('nik')}" th:errors="*{nik}"
                              class="error invalid-feedback col-md-12"
                              style="display: block;"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3">Name</label>
                        <input type="text" class="form-control col-md-9" th:field="*{name}">
                        <span th:if="@{#fields.hasErrors('name')}" th:errors="*{name}"
                              class="error invalid-feedback col-md-12"
                              style="display: block;"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3">Address</label>
                        <input type="text" class="form-control col-md-9" th:field="*{address}">
                        <span th:if="@{#fields.hasErrors('address')}" th:errors="*{address}"
                              class="error invalid-feedback col-md-12"
                              style="display: block;"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3">Phone</label>
                        <input type="text" class="form-control col-md-9" th:field="*{phone}">
                        <span th:if="@{#fields.hasErrors('phone')}" th:errors="*{phone}"
                              class="error invalid-feedback col-md-12"
                              style="display: block;"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3">Email</label>
                        <input type="text" class="form-control col-md-9" th:field="*{email}">
                        <span th:if="@{#fields.hasErrors('email')}" th:errors="*{email}"
                              class="error invalid-feedback col-md-12"
                              style="display: block;"></span>
                    </div>
                    <div class="row">
                        <label class="col-md-3">Subject</label>
                        <div class="form-group col-md-9">
                            <div class="custom-control custom checkbox" th:each="subject, i : ${subjects}">
                                <input th:id="${'subject_'+i.index}" class="custom-control-input" type="checkbox" name="subjects" th:value="${subject.id}"
                                th:checked="${teacher.hasSubject(subject.id)}">
                                <label th:for="${'subject_'+i.index}" class="custom-control-label" th:text="${subject.code + ',' + subject.name}"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
        <!-- /.card -->
    </section>
</div>
<!-- /.content -->
</body>
</html>