<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Teacher</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Teacher</a></li>
                        <li class="breadcrumb-item active"><a href="#">List</a></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Teacher List</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 pb-lg-2">
                        <form class="form-inline" th:action="@{/teacher/list}">
                            <input type="text" name="nik" class="form-control" placeholder="Nik">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                    <div class="col-md-6 pb-lg-2 text-right">
                        <a th:href="@{/teacher/form}" class="btn btn-primary">Add</a>
                    </div>
                    <div class="col-md 12 table responsive" >
                        <table class="table table-bordered text-center">
                            <thead>
                            <tr>
                                <th>NIK</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Subject</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="data : ${datas}">
                                <td th:text="${data.nik}"></td>
                                <td th:text="${data.name}"></td>
                                <td th:text="${data.address}"></td>
                                <td th:text="${data.phone}"></td>
                                <td th:text="${data.email}"></td>
                                <td>
                                    <span th:each="subject : ${data.subjects}" th:text="${subject.name + '.'}"></span>
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-warning" th:href="@{/teacher/form(id=${data.id})}">
                                        Edit
                                    </a>
                                    <a class="btn btn-danger" th:href="@{/teacher/delete(id=${data.id})}">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(datas.content)}">
                                <td colspan="3" class="text-center">Data not found</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <ul class="pagination" sd:pagination="full"></ul>
            </div>
        </div>
        <!-- /.card -->
    </section>
</div>
<!-- /.content -->
</body>
</html>